/* Polices */


@font-face {

    font-family: 'Raleway';
    src: url('polices/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Eléments principaux de la page */


body {

    background-color: #F2F2F2;
    font-family: 'Raleway', 'Trebuchet MS', Arial, sans-serif;
    color: black;
}

#bloc_page {
    
    width: 992px;
    margin: auto;
}

h1 {

    font-size: 1.2em;
    font-weight: bold;
}


p {

    font-size: 0.9em;
    font-weight: bold;
    color: #565252;
}


/* Header */


header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -15px;
    padding-top: 20px;
}

header img {

    margin-left: 20px;
}

/* Navigation */


nav ul {

    display: flex;
    list-style-type: none;
    position: relative;
}

nav li {

    padding-left: 60px;    
}

nav a {
    
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
    color: #565252;
}

nav a:hover {
    
    color: #0065FC;
    border-top: 1px solid #0065FC;
    padding-top:30px
}


/* Section acceuil */



#acceuil h1 {

    margin-bottom: -8px;
}

#barre_de_recherche {

    display:flex;
    align-items: center;
    position: relative;
}

.map p {

    display: flex;
    align-items: center;
    padding-left: 15px;
    height: 33px;
    width: 20px;
    border: 1px solid #e0dede;
    background-color: #e0dede;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.icone_map {

    position: absolute;
    text-align: center;
    padding-left: 11px;
}

.localisation {

    transition: box-shadow .3s;
    display: flex;
    align-items: center;
    padding-left: 15px;
    height: 33px;
    width: 170px;
    border: 1px solid #e0dede;
}

.localisation a {
    
    text-decoration: none;
    color: black;
    font-size: 0.9em;
}

.localisation:hover {

    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.rechercher {
    
    transition: box-shadow .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100px;
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.rechercher a {

    text-decoration: none;
    color: white;
    font-size: 0.9em;   
}

.rechercher:hover {

    background-color: #00d9ff;
}




